body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:39px;
  top:28px;
  width:514px;
  height:1138px;
}
#u2 {
  position:absolute;
  left:2px;
  top:561px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u4 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u5 {
  position:absolute;
  left:553px;
  top:84px;
  width:41px;
  height:1101px;
}
#u6 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u7 {
  position:absolute;
  left:41px;
  top:1104px;
  width:512px;
  height:81px;
}
#u8 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u9 {
  position:absolute;
  left:0px;
  top:84px;
  width:41px;
  height:1101px;
}
#u10 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u11 {
  position:absolute;
  left:40px;
  top:36px;
  width:514px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u13 {
  position:absolute;
  left:147px;
  top:212px;
  width:81px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u15 {
  position:absolute;
  left:127px;
  top:343px;
  width:342px;
  height:1px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u17 {
  position:absolute;
  left:127px;
  top:425px;
  width:342px;
  height:1px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u19 {
  position:absolute;
  left:350px;
  top:212px;
  width:81px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21 {
  position:absolute;
  left:398px;
  top:583px;
  width:71px;
  height:16px;
  color:#666666;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u23 {
  position:absolute;
  left:127px;
  top:583px;
  width:57px;
  height:16px;
  color:#666666;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:127px;
  top:484px;
  width:342px;
  height:55px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:338px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:154px;
  top:250px;
  width:67px;
  height:5px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u29 {
  position:absolute;
  left:133px;
  top:310px;
  width:29px;
  height:29px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u31 {
  position:absolute;
  left:133px;
  top:392px;
  width:29px;
  height:29px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u33 {
  position:absolute;
  left:179px;
  top:317px;
  width:57px;
  height:16px;
  color:#C9C9C9;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u35 {
  position:absolute;
  left:179px;
  top:399px;
  width:57px;
  height:16px;
  color:#C9C9C9;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:674px;
  top:28px;
  width:514px;
  height:1138px;
}
#u38 {
  position:absolute;
  left:2px;
  top:561px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u39 {
  position:absolute;
  left:762px;
  top:343px;
  width:342px;
  height:1px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:2px;
}
#u41 {
  position:absolute;
  left:762px;
  top:425px;
  width:195px;
  height:1px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-8px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u43 {
  position:absolute;
  left:1033px;
  top:602px;
  width:71px;
  height:16px;
  color:#666666;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u45 {
  position:absolute;
  left:762px;
  top:602px;
  width:57px;
  height:16px;
  color:#666666;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:762px;
  top:503px;
  width:342px;
  height:55px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:338px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u49 {
  position:absolute;
  left:768px;
  top:310px;
  width:29px;
  height:29px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u51 {
  position:absolute;
  left:768px;
  top:392px;
  width:29px;
  height:29px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u53 {
  position:absolute;
  left:814px;
  top:317px;
  width:85px;
  height:16px;
  color:#C9C9C9;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u55 {
  position:absolute;
  left:814px;
  top:399px;
  width:99px;
  height:16px;
  color:#C9C9C9;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u57 {
  position:absolute;
  left:791px;
  top:212px;
  width:81px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u59 {
  position:absolute;
  left:994px;
  top:212px;
  width:81px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:1001px;
  top:250px;
  width:67px;
  height:5px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u63 {
  position:absolute;
  left:974px;
  top:392px;
  width:130px;
  height:36px;
  color:#00CCFF;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:1296px;
  top:28px;
  width:514px;
  height:1138px;
}
#u66 {
  position:absolute;
  left:2px;
  top:561px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u67 {
  position:absolute;
  left:1384px;
  top:343px;
  width:342px;
  height:1px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:2px;
}
#u69 {
  position:absolute;
  left:1384px;
  top:425px;
  width:195px;
  height:1px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-8px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u71 {
  position:absolute;
  left:1655px;
  top:602px;
  width:71px;
  height:16px;
  color:#666666;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u73 {
  position:absolute;
  left:1384px;
  top:602px;
  width:57px;
  height:16px;
  color:#666666;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:1384px;
  top:503px;
  width:342px;
  height:55px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:2px;
  top:17px;
  width:338px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u77 {
  position:absolute;
  left:1390px;
  top:310px;
  width:29px;
  height:29px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u79 {
  position:absolute;
  left:1390px;
  top:392px;
  width:29px;
  height:29px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u81 {
  position:absolute;
  left:1436px;
  top:317px;
  width:85px;
  height:16px;
  color:#C9C9C9;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u83 {
  position:absolute;
  left:1436px;
  top:399px;
  width:99px;
  height:16px;
  color:#C9C9C9;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u85 {
  position:absolute;
  left:1413px;
  top:212px;
  width:81px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u87 {
  position:absolute;
  left:1616px;
  top:212px;
  width:81px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:1623px;
  top:250px;
  width:67px;
  height:5px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u91 {
  position:absolute;
  left:1596px;
  top:392px;
  width:130px;
  height:36px;
  color:#00CCFF;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u93 {
  position:absolute;
  left:634px;
  top:0px;
  width:594px;
  height:85px;
}
#u94 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u95 {
  position:absolute;
  left:1187px;
  top:84px;
  width:41px;
  height:1101px;
}
#u96 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u97 {
  position:absolute;
  left:675px;
  top:1104px;
  width:512px;
  height:81px;
}
#u98 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u99 {
  position:absolute;
  left:634px;
  top:84px;
  width:41px;
  height:1101px;
}
#u100 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u101 {
  position:absolute;
  left:674px;
  top:36px;
  width:514px;
  height:60px;
}
#u102 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u103 {
  position:absolute;
  left:1256px;
  top:0px;
  width:594px;
  height:85px;
}
#u104 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u105 {
  position:absolute;
  left:1809px;
  top:84px;
  width:41px;
  height:1101px;
}
#u106 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u107 {
  position:absolute;
  left:1297px;
  top:1104px;
  width:512px;
  height:81px;
}
#u108 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u109 {
  position:absolute;
  left:1256px;
  top:84px;
  width:41px;
  height:1101px;
}
#u110 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u111 {
  position:absolute;
  left:1296px;
  top:36px;
  width:514px;
  height:60px;
}
#u112 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
