body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1526px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:129px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2258 {
  position:absolute;
  left:32px;
  top:29px;
  width:537px;
  height:129px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2259 {
  position:absolute;
  left:2px;
  top:56px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2261 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u2262 {
  position:absolute;
  left:40px;
  top:36px;
  width:514px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2263 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u2264 {
  position:absolute;
  left:78px;
  top:111px;
  width:33px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2265 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:998px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2266 {
  position:absolute;
  left:32px;
  top:158px;
  width:530px;
  height:998px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2267 {
  position:absolute;
  left:2px;
  top:491px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u2268 {
  position:absolute;
  left:41px;
  top:1104px;
  width:512px;
  height:81px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2269 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2270 {
  position:absolute;
  left:269px;
  top:110px;
  width:57px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u2272 {
  position:absolute;
  left:553px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2273 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2274 {
  position:absolute;
  left:-107px;
  top:344px;
  width:133px;
  height:133px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2275 {
  position:absolute;
  left:2px;
  top:58px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u2276 {
  position:absolute;
  left:0px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2277 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u2278 {
  position:absolute;
  left:242px;
  top:271px;
  width:110px;
  height:110px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2279 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2280 {
  position:absolute;
  left:261px;
  top:436px;
  width:73px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2282 {
  position:absolute;
  left:244px;
  top:488px;
  width:113px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2283 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2284 {
  position:absolute;
  left:476px;
  top:116px;
  width:41px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u2286 {
  position:absolute;
  left:184px;
  top:851px;
  width:228px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u2287 {
  position:absolute;
  left:2px;
  top:14px;
  width:224px;
  word-wrap:break-word;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u2288 {
  position:absolute;
  left:269px;
  top:1082px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u2289 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:129px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2290 {
  position:absolute;
  left:32px;
  top:1297px;
  width:537px;
  height:129px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2291 {
  position:absolute;
  left:2px;
  top:56px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u2292 {
  position:absolute;
  left:0px;
  top:1268px;
  width:594px;
  height:85px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2293 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u2294 {
  position:absolute;
  left:40px;
  top:1304px;
  width:514px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2295 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2296 {
  position:absolute;
  left:78px;
  top:1384px;
  width:24px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2297 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:998px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2298 {
  position:absolute;
  left:32px;
  top:1426px;
  width:530px;
  height:998px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2299 {
  position:absolute;
  left:2px;
  top:491px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u2300 {
  position:absolute;
  left:41px;
  top:2372px;
  width:512px;
  height:81px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2301 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2302 {
  position:absolute;
  left:241px;
  top:1378px;
  width:113px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u2304 {
  position:absolute;
  left:553px;
  top:1352px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2305 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2306 {
  position:absolute;
  left:-107px;
  top:1612px;
  width:133px;
  height:133px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2307 {
  position:absolute;
  left:2px;
  top:58px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u2308 {
  position:absolute;
  left:0px;
  top:1352px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2309 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:2px;
}
#u2310 {
  position:absolute;
  left:40px;
  top:1516px;
  width:513px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2311 {
  position:absolute;
  left:2px;
  top:-8px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2312 {
  position:absolute;
  left:72px;
  top:1453px;
  width:33px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u2314 {
  position:absolute;
  left:72px;
  top:1488px;
  width:139px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u2315 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2316 {
  position:absolute;
  left:456px;
  top:1465px;
  width:87px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2317 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:2px;
}
#u2318 {
  position:absolute;
  left:40px;
  top:1608px;
  width:513px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2319 {
  position:absolute;
  left:2px;
  top:-8px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2320 {
  position:absolute;
  left:72px;
  top:1545px;
  width:113px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2321 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u2322 {
  position:absolute;
  left:72px;
  top:1580px;
  width:139px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u2323 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2324 {
  position:absolute;
  left:456px;
  top:1552px;
  width:93px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2325 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:2px;
}
#u2326 {
  position:absolute;
  left:40px;
  top:1698px;
  width:513px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2327 {
  position:absolute;
  left:2px;
  top:-8px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2328 {
  position:absolute;
  left:72px;
  top:1635px;
  width:81px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2329 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u2330 {
  position:absolute;
  left:72px;
  top:1670px;
  width:139px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2332 {
  position:absolute;
  left:456px;
  top:1642px;
  width:93px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2334 {
  position:absolute;
  left:456px;
  top:1731px;
  width:93px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2335 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:129px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2336 {
  position:absolute;
  left:777px;
  top:1297px;
  width:537px;
  height:129px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2337 {
  position:absolute;
  left:2px;
  top:56px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u2338 {
  position:absolute;
  left:745px;
  top:1268px;
  width:594px;
  height:85px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2339 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u2340 {
  position:absolute;
  left:785px;
  top:1304px;
  width:514px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2341 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:998px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2342 {
  position:absolute;
  left:777px;
  top:1426px;
  width:530px;
  height:998px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2343 {
  position:absolute;
  left:2px;
  top:491px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u2344 {
  position:absolute;
  left:786px;
  top:2372px;
  width:512px;
  height:81px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2345 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2346 {
  position:absolute;
  left:986px;
  top:1378px;
  width:113px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u2348 {
  position:absolute;
  left:1298px;
  top:1352px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2349 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u2350 {
  position:absolute;
  left:745px;
  top:1352px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2351 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2352 {
  position:absolute;
  left:825px;
  top:1384px;
  width:41px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2353 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2354 {
  position:absolute;
  left:806px;
  top:1459px;
  width:472px;
  height:336px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2355 {
  position:absolute;
  left:2px;
  top:160px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u2356 {
  position:absolute;
  left:806px;
  top:1524px;
  width:472px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2358 {
  position:absolute;
  left:837px;
  top:1482px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2359 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2360 {
  position:absolute;
  left:943px;
  top:1485px;
  width:89px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2362 {
  position:absolute;
  left:1238px;
  top:1482px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2363 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2364 {
  position:absolute;
  left:837px;
  top:1540px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2365 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2366 {
  position:absolute;
  left:837px;
  top:1580px;
  width:29px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2367 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:2px;
}
#u2368 {
  position:absolute;
  left:826px;
  top:1629px;
  width:432px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2369 {
  position:absolute;
  left:2px;
  top:-8px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#D7D7D7;
}
#u2370 {
  position:absolute;
  left:880px;
  top:1585px;
  width:234px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#D7D7D7;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u2372_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:100px;
  height:25px;
}
#u2372 {
  position:absolute;
  left:1278px;
  top:1595px;
  width:88px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2373 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2374 {
  position:absolute;
  left:1366px;
  top:1590px;
  width:267px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2375 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u2376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2376 {
  position:absolute;
  left:837px;
  top:1640px;
  width:140px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2377 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u2378 {
  position:absolute;
  left:847px;
  top:1696px;
  width:377px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u2379 {
  position:absolute;
  left:2px;
  top:14px;
  width:373px;
  word-wrap:break-word;
}
#u2380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:129px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2380 {
  position:absolute;
  left:777px;
  top:2554px;
  width:537px;
  height:129px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2381 {
  position:absolute;
  left:2px;
  top:56px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u2382 {
  position:absolute;
  left:785px;
  top:2561px;
  width:514px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2383 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:998px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2384 {
  position:absolute;
  left:777px;
  top:2683px;
  width:530px;
  height:998px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2385 {
  position:absolute;
  left:2px;
  top:491px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2386 {
  position:absolute;
  left:986px;
  top:2635px;
  width:113px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2388 {
  position:absolute;
  left:825px;
  top:2641px;
  width:41px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2389 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2390 {
  position:absolute;
  left:806px;
  top:2733px;
  width:472px;
  height:336px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2391 {
  position:absolute;
  left:2px;
  top:160px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:2px;
}
#u2392 {
  position:absolute;
  left:806px;
  top:2798px;
  width:472px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2393 {
  position:absolute;
  left:2px;
  top:-8px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2394 {
  position:absolute;
  left:837px;
  top:2756px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2395 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2396 {
  position:absolute;
  left:943px;
  top:2759px;
  width:89px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2398 {
  position:absolute;
  left:1238px;
  top:2756px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2399 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2400 {
  position:absolute;
  left:837px;
  top:2814px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2402 {
  position:absolute;
  left:837px;
  top:2854px;
  width:29px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:2px;
}
#u2404 {
  position:absolute;
  left:826px;
  top:2903px;
  width:432px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2405 {
  position:absolute;
  left:2px;
  top:-8px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#D7D7D7;
}
#u2406 {
  position:absolute;
  left:880px;
  top:2859px;
  width:234px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#D7D7D7;
}
#u2407 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u2408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2408 {
  position:absolute;
  left:837px;
  top:2914px;
  width:140px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2409 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u2410 {
  position:absolute;
  left:847px;
  top:2970px;
  width:377px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u2411 {
  position:absolute;
  left:2px;
  top:14px;
  width:373px;
  word-wrap:break-word;
}
#u2412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:1123px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.137254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2412 {
  position:absolute;
  left:777px;
  top:2557px;
  width:544px;
  height:1123px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2413 {
  position:absolute;
  left:2px;
  top:554px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2414 {
  position:absolute;
  left:777px;
  top:3520px;
  width:521px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2415 {
  position:absolute;
  left:2px;
  top:72px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u2416 {
  position:absolute;
  left:745px;
  top:2525px;
  width:594px;
  height:85px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2417 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u2418 {
  position:absolute;
  left:786px;
  top:3629px;
  width:512px;
  height:81px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2419 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u2420 {
  position:absolute;
  left:1298px;
  top:2609px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2421 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u2422 {
  position:absolute;
  left:745px;
  top:2609px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u2423 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
