body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:129px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3183 {
  position:absolute;
  left:32px;
  top:29px;
  width:537px;
  height:129px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3184 {
  position:absolute;
  left:2px;
  top:56px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u3185 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3186 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u3187 {
  position:absolute;
  left:40px;
  top:36px;
  width:514px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3188 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u3189 {
  position:absolute;
  left:78px;
  top:111px;
  width:33px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3190 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:998px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3191 {
  position:absolute;
  left:32px;
  top:158px;
  width:530px;
  height:998px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3192 {
  position:absolute;
  left:2px;
  top:491px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u3193 {
  position:absolute;
  left:41px;
  top:1104px;
  width:512px;
  height:81px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3194 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3195 {
  position:absolute;
  left:244px;
  top:110px;
  width:113px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3196 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u3197 {
  position:absolute;
  left:553px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3198 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u3199 {
  position:absolute;
  left:0px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3200 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:352px;
}
#u3201 {
  position:absolute;
  left:125px;
  top:262px;
  width:352px;
  height:352px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3202 {
  position:absolute;
  left:2px;
  top:168px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3203 {
  position:absolute;
  left:241px;
  top:655px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3204 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3205 {
  position:absolute;
  left:125px;
  top:717px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3206 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u3207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u3207 {
  position:absolute;
  left:125px;
  top:763px;
  width:352px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u3208 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
