body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3141 {
  position:absolute;
  left:32px;
  top:154px;
  width:532px;
  height:446px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3142 {
  position:absolute;
  left:2px;
  top:215px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:129px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3143 {
  position:absolute;
  left:32px;
  top:29px;
  width:537px;
  height:129px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3144 {
  position:absolute;
  left:2px;
  top:56px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u3145 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3146 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u3147 {
  position:absolute;
  left:40px;
  top:36px;
  width:514px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3148 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u3149 {
  position:absolute;
  left:78px;
  top:111px;
  width:33px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3150 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3151 {
  position:absolute;
  left:269px;
  top:110px;
  width:57px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3152 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u3153 {
  position:absolute;
  left:41px;
  top:1105px;
  width:512px;
  height:81px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3154 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u3155 {
  position:absolute;
  left:553px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3156 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u3157 {
  position:absolute;
  left:0px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u3158 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3159 {
  position:absolute;
  left:78px;
  top:191px;
  width:97px;
  height:97px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3160 {
  position:absolute;
  left:2px;
  top:40px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3161 {
  position:absolute;
  left:196px;
  top:229px;
  width:73px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3162 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u3163 {
  position:absolute;
  left:287px;
  top:225px;
  width:34px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3164 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u3165 {
  position:absolute;
  left:325px;
  top:225px;
  width:34px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3166 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u3167 {
  position:absolute;
  left:363px;
  top:225px;
  width:34px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3168 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u3169 {
  position:absolute;
  left:401px;
  top:225px;
  width:34px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3170 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u3171 {
  position:absolute;
  left:439px;
  top:225px;
  width:34px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3172 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u3173 {
  position:absolute;
  left:40px;
  top:311px;
  width:514px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3174 {
  position:absolute;
  left:2px;
  top:-8px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u3175 {
  position:absolute;
  left:78px;
  top:331px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u3176 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3177 {
  position:absolute;
  left:78px;
  top:489px;
  width:97px;
  height:97px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3178 {
  position:absolute;
  left:2px;
  top:40px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3179 {
  position:absolute;
  left:102px;
  top:513px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3180 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3181 {
  position:absolute;
  left:94px;
  top:714px;
  width:414px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3182 {
  position:absolute;
  left:2px;
  top:16px;
  width:410px;
  word-wrap:break-word;
}
