body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u113 {
  position:absolute;
  left:39px;
  top:28px;
  width:514px;
  height:1138px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u114 {
  position:absolute;
  left:2px;
  top:561px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u116 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u117 {
  position:absolute;
  left:553px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u118 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u119 {
  position:absolute;
  left:41px;
  top:1104px;
  width:512px;
  height:81px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u120 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u121 {
  position:absolute;
  left:0px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u122 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u123 {
  position:absolute;
  left:40px;
  top:36px;
  width:514px;
  height:60px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u125 {
  position:absolute;
  left:276px;
  top:110px;
  width:57px;
  height:32px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u127 {
  position:absolute;
  left:127px;
  top:275px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:2px;
}
#u129 {
  position:absolute;
  left:127px;
  top:342px;
  width:194px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:127px;
  top:503px;
  width:342px;
  height:55px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:338px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u133 {
  position:absolute;
  left:133px;
  top:242px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u134 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u135 {
  position:absolute;
  left:133px;
  top:309px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u136 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u137 {
  position:absolute;
  left:179px;
  top:249px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u139 {
  position:absolute;
  left:179px;
  top:316px;
  width:85px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u141 {
  position:absolute;
  left:95px;
  top:110px;
  width:27px;
  height:27px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u142 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#00CCFF;
}
#u143 {
  position:absolute;
  left:339px;
  top:307px;
  width:130px;
  height:36px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#00CCFF;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u145 {
  position:absolute;
  left:127px;
  top:405px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u146 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u147 {
  position:absolute;
  left:133px;
  top:372px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u148 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u149 {
  position:absolute;
  left:179px;
  top:379px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u151 {
  position:absolute;
  left:39px;
  top:1364px;
  width:514px;
  height:1138px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u152 {
  position:absolute;
  left:2px;
  top:561px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u153 {
  position:absolute;
  left:0px;
  top:1336px;
  width:594px;
  height:85px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u154 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u155 {
  position:absolute;
  left:553px;
  top:1420px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u156 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u157 {
  position:absolute;
  left:41px;
  top:2440px;
  width:512px;
  height:81px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u158 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u159 {
  position:absolute;
  left:0px;
  top:1420px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u160 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u161 {
  position:absolute;
  left:40px;
  top:1372px;
  width:514px;
  height:60px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u162 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u163 {
  position:absolute;
  left:213px;
  top:1446px;
  width:169px;
  height:32px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
  text-align:right;
}
#u165 {
  position:absolute;
  left:145px;
  top:1636px;
  width:305px;
  height:126px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
  text-align:right;
}
#u166 {
  position:absolute;
  left:2px;
  top:47px;
  width:301px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u167 {
  position:absolute;
  left:164px;
  top:1671px;
  width:56px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u168 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
  text-align:right;
}
#u169 {
  position:absolute;
  left:145px;
  top:1793px;
  width:305px;
  height:126px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
  text-align:right;
}
#u170 {
  position:absolute;
  left:2px;
  top:47px;
  width:301px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u171 {
  position:absolute;
  left:164px;
  top:1828px;
  width:56px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u172 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
  text-align:right;
}
#u173 {
  position:absolute;
  left:145px;
  top:1957px;
  width:305px;
  height:126px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
  text-align:right;
}
#u174 {
  position:absolute;
  left:2px;
  top:47px;
  width:301px;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u175 {
  position:absolute;
  left:164px;
  top:1992px;
  width:56px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u176 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u177 {
  position:absolute;
  left:859px;
  top:1364px;
  width:514px;
  height:1138px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u178 {
  position:absolute;
  left:2px;
  top:561px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u179 {
  position:absolute;
  left:820px;
  top:1336px;
  width:594px;
  height:85px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u180 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u181 {
  position:absolute;
  left:1373px;
  top:1420px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u182 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u183 {
  position:absolute;
  left:861px;
  top:2440px;
  width:512px;
  height:81px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u184 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u185 {
  position:absolute;
  left:820px;
  top:1420px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u186 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u187 {
  position:absolute;
  left:860px;
  top:1372px;
  width:514px;
  height:60px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u188 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u189 {
  position:absolute;
  left:1033px;
  top:1446px;
  width:169px;
  height:32px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u191 {
  position:absolute;
  left:915px;
  top:1446px;
  width:27px;
  height:27px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u192 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:36px;
  color:#282828;
}
#u193 {
  position:absolute;
  left:1023px;
  top:1240px;
  width:217px;
  height:41px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:36px;
  color:#282828;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u195 {
  position:absolute;
  left:960px;
  top:1669px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u197 {
  position:absolute;
  left:960px;
  top:1728px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u199 {
  position:absolute;
  left:966px;
  top:1636px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u200 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u201 {
  position:absolute;
  left:966px;
  top:1695px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u202 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u203 {
  position:absolute;
  left:1012px;
  top:1643px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u205 {
  position:absolute;
  left:1012px;
  top:1702px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u207 {
  position:absolute;
  left:960px;
  top:1791px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u208 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u209 {
  position:absolute;
  left:966px;
  top:1758px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u210 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u211 {
  position:absolute;
  left:1012px;
  top:1765px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u213 {
  position:absolute;
  left:960px;
  top:1840px;
  width:342px;
  height:416px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u214 {
  position:absolute;
  left:2px;
  top:200px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u215 {
  position:absolute;
  left:1077px;
  top:2037px;
  width:109px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u217 {
  position:absolute;
  left:960px;
  top:2340px;
  width:342px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u218 {
  position:absolute;
  left:2px;
  top:21px;
  width:338px;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:36px;
  color:#282828;
}
#u219 {
  position:absolute;
  left:1838px;
  top:1240px;
  width:163px;
  height:41px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:36px;
  color:#282828;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u221 {
  position:absolute;
  left:1647px;
  top:1364px;
  width:514px;
  height:1138px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u222 {
  position:absolute;
  left:2px;
  top:561px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u223 {
  position:absolute;
  left:1608px;
  top:1336px;
  width:594px;
  height:85px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u224 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u225 {
  position:absolute;
  left:2161px;
  top:1420px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u226 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u227 {
  position:absolute;
  left:1649px;
  top:2440px;
  width:512px;
  height:81px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u228 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u229 {
  position:absolute;
  left:1608px;
  top:1420px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u230 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u231 {
  position:absolute;
  left:1648px;
  top:1372px;
  width:514px;
  height:60px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u232 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u233 {
  position:absolute;
  left:1821px;
  top:1446px;
  width:169px;
  height:32px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u235 {
  position:absolute;
  left:1703px;
  top:1446px;
  width:27px;
  height:27px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u236 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u237 {
  position:absolute;
  left:1748px;
  top:1614px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u238 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u239 {
  position:absolute;
  left:1748px;
  top:1673px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u240 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u241 {
  position:absolute;
  left:1754px;
  top:1581px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u242 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u243 {
  position:absolute;
  left:1754px;
  top:1640px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u244 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u245 {
  position:absolute;
  left:1800px;
  top:1588px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u247 {
  position:absolute;
  left:1800px;
  top:1647px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u249 {
  position:absolute;
  left:1748px;
  top:1736px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u250 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u251 {
  position:absolute;
  left:1754px;
  top:1703px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u252 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u253 {
  position:absolute;
  left:1800px;
  top:1710px;
  width:113px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u255 {
  position:absolute;
  left:1748px;
  top:1794px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u257 {
  position:absolute;
  left:1754px;
  top:1761px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u258 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u259 {
  position:absolute;
  left:1800px;
  top:1768px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u261 {
  position:absolute;
  left:1748px;
  top:1852px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u262 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u263 {
  position:absolute;
  left:1754px;
  top:1819px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u264 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u265 {
  position:absolute;
  left:1800px;
  top:1826px;
  width:127px;
  height:16px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#C9C9C9;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u267 {
  position:absolute;
  left:1748px;
  top:1886px;
  width:342px;
  height:190px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u268 {
  position:absolute;
  left:2px;
  top:87px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u269 {
  position:absolute;
  left:1856px;
  top:1971px;
  width:127px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u271 {
  position:absolute;
  left:1748px;
  top:2340px;
  width:342px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u272 {
  position:absolute;
  left:2px;
  top:21px;
  width:338px;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#00CCFF;
}
#u273 {
  position:absolute;
  left:1647px;
  top:2635px;
  width:514px;
  height:1138px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  color:#00CCFF;
}
#u274 {
  position:absolute;
  left:2px;
  top:561px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u275 {
  position:absolute;
  left:1608px;
  top:2607px;
  width:594px;
  height:85px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u276 {
  position:absolute;
  left:2px;
  top:34px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u277 {
  position:absolute;
  left:2161px;
  top:2691px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u278 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u279 {
  position:absolute;
  left:1649px;
  top:3711px;
  width:512px;
  height:81px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u280 {
  position:absolute;
  left:2px;
  top:32px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u281 {
  position:absolute;
  left:1608px;
  top:2691px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u282 {
  position:absolute;
  left:2px;
  top:542px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u283 {
  position:absolute;
  left:1648px;
  top:2643px;
  width:514px;
  height:60px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u284 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u285 {
  position:absolute;
  left:1849px;
  top:2717px;
  width:113px;
  height:32px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u287 {
  position:absolute;
  left:1703px;
  top:2717px;
  width:27px;
  height:27px;
  font-family:'黑体';
  font-weight:401;
  font-style:normal;
}
#u288 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:385px;
}
#u289 {
  position:absolute;
  left:1712px;
  top:3011px;
  width:385px;
  height:385px;
}
#u290 {
  position:absolute;
  left:2px;
  top:184px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  position:absolute;
  left:127px;
  top:578px;
  width:337px;
  height:16px;
}
#u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
